* {
    box-sizing: border-box;
}

body {
    background: #dfcdb9;
}

.burger-img {
    display: block;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

ul {
    padding: 0 10px;
    width: 50%;
    float: left;
    list-style-type: none;
}

.current-burgers {
    text-align: right;
}

.burger {
    padding: 0 10px;
    width: 400px;
    display: inline-block;
    border: solid grey 1px;
    background: burlywood;
}

.create_burger {
    display: inline-block;
    width: 100%;
}